selenium
PyGithub
webdriver-manager


# 1. run: source ~/.my_commands.sh
# 2. then type create (the function below) on Terminal

# 3. Install github for Python:
#    pip install PyGithub

# 3. Install selenium for Python:
#    pip install selenium


pip install webdriver-manager
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager

driver = webdriver.Chrome(ChromeDriverManager().install())
